{% extends 'CrudforgeBundle::admin.html.twig' %}
{% block body %}
<h2>Novo Schema</h2>

<form action="{{ path('document_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="cssButton" type="submit">salvar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a class="cssButton" href="{{ path('schemas') }}">
            Voltar para a lista de schemas
        </a>
    </li>    
</ul>
{% endblock %}