{% extends 'CrudforgeBundle::admin.html.twig' %}
{% block body %}
<h2>Bem-vindo ao CRUDForge</h2>
<br />
<br />
Cadastre um <a href="{{ path('document_new') }}">novo schema</a> para começar a controlar os seus dados,<br />
ou navegue pelos CRUD's gerados e compartilhados com você, através da barra lateral.
<br />
<br />
<br />
<ul>Definições:
    <li>Schema: modelo de dados utilizado para estruturar a tabela onde serão realizados os cadastros</li>
    <li>CRUD: interface gráfica para o cadastramento e edição dos dados</li>
</ul>
{% endblock %}
