{% extends 'CrudforgeBundle::admin.html.twig' %}
{% block body %}
<h2>Fields creation</h2>

<form action="{{ path('fields_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="cssButton" type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a class="cssButton" href="{{ path('fields') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}